* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    margin: 0;
    height: 100vh;
    justify-content: flex-start;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: left;
    padding-left: 50px;
}

.viewHighscore {
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    cursor: pointer;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
    padding-right: 50px;
    color: rgb(78, 38, 170);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 10%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.startButton {
    background-color: rgb(78, 38, 170);
    color: white;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.all-question {
    width: 400px;
    margin-left: 33%;
}

.questions-ul {
    list-style-type: none;
    display: contents;
    width: 400px;
}

.questions-li {
    width: 250px;
    list-style-type: none;
}

.list-inner {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-auto-rows: (10px, auto);
    grid-gap: .05em; 
    justify-items: center; 
}

.answer-btns {
    align-items: flex-start;
    text-align: left;
    height: 30px;
    width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial;
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#right-wrong {
    font-weight: lighter;
    font: italic;
}

#final-score {
    width: 500px;
    text-align: left;
    margin-left: 35%;
    margin-top: 5%;
}

.input.area {
    border: none;
    background-color: rgb(235 235 235);
}

.input-heading {
    text-align: center;
}

.submit-button {
    padding-left: 3px;
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#highscore {
    width: 400px;
    text-align: left;
    margin-left: 40%;
    margin-top: 5%;
}

.highscore-display {
    width: 90%;
    border: none;
    background-color: rgb(235 235 235);
}

#backButton {
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}

#clearHighscores {
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

/* Hides page element */
#highscore,
#final-score,
#right-wrong, 
#questions {
    display: none;
}