* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    margin: 0;
    height: 100vh;
    justify-content: flex-start;
}

.score {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: left;
    padding-left: 50px;
}

.viewHighscore {
    color: rgb(78, 38, 170);
}

.time {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
    padding-right: 50px;
    color: rgb(78, 38, 170);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 10%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.startButton {
    background-color: rgb(78, 38, 170);
    color: white;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.q1 {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.q2 {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.q3 {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.q4 {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.q5 {
    display: none;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.buttons {
    align-items: flex-start;
    text-align: left;
    height: 30px;
    width: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial;
    background-color: rgb(78, 38, 170);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}